/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    font-family: Arial;
    background-attachment:fixed;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}
.distancia{color: #e07e04;font-weight: bold;font-size: .7em;padding: 3px 0;}
/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
.compartir, .center{text-align: center}
.sucursal_detail 
.compartir .fa{font-size: 40px; padding: 15px 5px;}
.fa-facebook-square{color:#0063a9;}
.fa-twitter-square{color: #00adff;}
.fa-instagram{color: #8c5b02;}
.fa-youtube-square{color: red;}
.fa-pinterest-square{color: #d00808;}
.fa-linkedin-square{color: #3d688c;}
.fa-google-plus-square{color: #cc0e0e;}
.fa-whatsapp{color: #05b703;}
.botonesHome{
  height: 130px;
}
.botonesHome img{
  padding-top: 25px;
}
.logo img{width: 230px;
    height: auto;
    margin: 0 auto;
    padding: 25px 0;}
.homeUno{    background: #F74E0F;
  position: relative;
    color: #fff;
    height: auto;
    text-align: center;}
.homeUno ons-button{width: 50%; float: left; border-radius: 0 !important; padding: 0 !important;border: none;}
.imagenHome{background: url(../img/imgmapa.png) center top no-repeat; width: 100%; height: 155px; background-size: contain;}
.mapaHome{background: url(../img/panoramica.gif) center top no-repeat; width: 100%; height: 91px; background-size: contain;}
.homeUno ons-button:last-child::after{background:none; width: 0; height: 0;position: relative;}
.homeUno .letraHome_r{
  font-size: 15px;
  background-color: #656565;
  padding: 5px 25px;
  border: 2px solid #fff;
  color: #fff;
  position: relative;
  top: -10px;  
  border-radius: 16px 0 0 16px;
}
.borde_home:after{
  border-right: 1px solid #fff;
}
.homeUno .letraHome_l{
  font-size: 15px;
  background-color: #656565;
  padding: 5px 25px;
  border: 2px solid #fff;
  color: #fff;
  position: relative;
  top: -10px;  
  border-radius: 0 16px 16px 0;
}
.homeUno .ons-icon{
  font-size: 60px !important;
  color: #fff;
    padding: 7px 10px;
}
.homeUno h4{padding: 0 0 10px 0;margin: 0;font-weight: bold !important;}
.flecha{position: relative;top: -9px;max-width: 375px;height: 30px;margin: 0 auto;background: url(../img/flecha.png) center center no-repeat;}
.logo_head{margin:0 10px;}
ons-tabbar{
        width: 100%;
    height: 65px;
}
.categoriaImagen{
    height: 140px;
    display: block;
    position: relative;
    text-align: center;
    z-index: 999;
    background-size: cover !important;
    -webkit-box-shadow: inset 0px -48px 99px 0 rgb(0, 0, 0);
  -moz-box-shadow: inset 0px -48px 99px 0 rgba(0,0,0);
  box-shadow: inset 0px -48px 99px 0 rgb(0, 0, 0);
}
.bannerImagen{
    height: 180px;
    width: auto;
    display: block;
    z-index: 999;
    background-size: contain !important;
}
.cabecera{top:-6px;  border-bottom: 5px solid #013c42; height: 100px;
  -webkit-box-shadow: inset 0px 50px 99px 0 rgb(4, 54, 58);
  -moz-box-shadow: inset 0px 50px 99px 0 rgb(4, 54, 58);
  box-shadow: inset 0px 50px 99px 0 rgb(4, 54, 58);}
.nombre_categoria{top: 36px; position: relative;font-size: 22px !important;}
.categoriaImagen img{width: 100%; height: 140px;}
.categoriaImagen span{position: absolute; bottom: 0; text-transform: uppercase; left: 20px;color: #fff; font-weight: bold; text-shadow: 2px 2px 1px rgba(0, 0, 0, 1); font-size: 1.1em;}
.timeline {
  margin-top: 10px;
  margin-bottom: 10px;
}
.page--shop-details__content {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px !important;
  bottom: 0px;
}
.card {
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 250px;
  background-position: center center;
}
.logotipo{    
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 50px;
}
.card .tipo_comida{
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 210px;
  background: #1b98b9;
  border-top: 4px solid #ff7a09;
  padding: 8px;
  width: 33%;
  margin: 0 auto;
  z-index: 999;
}
.logotipo img{  
    margin: 15px 0;
    height: 50px; 
    padding: 5px;
    background: #fff;
  -webkit-box-shadow: 3px 4px 3px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    3px 4px 3px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         3px 4px 3px 0px rgba(50, 50, 50, 0.75);
}
.card-toolbar ons-back-button span {
  color: white;
}
.card-name {
  font-weight: 600;
  font-size: 20px;
  padding: 66px 0 8px 0;
  text-align: center;
}

.card-desc {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.9;
  text-align: center;
  line-height: 1.4;
}

.rating {
  text-align: center;
  position: relative;
  height: 0px;
}
.lista_detalle{background: #F74E0F;}
.lista_detalle ons-list-item{padding: 0;border: none;line-height: 10px;margin-bottom: 5px;}
.rating-num {
  position: relative;
  top: -24px;
  height: 24px;
  color: white;
  line-height: 24px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  border-radius: 4px 4px 0 0;
  padding: 0 6px;
  background-color: #eb482f;
  color: white;
  width: auto;
  margin: 0 auto 0 auto;
  display: inline-block;
}

.rating-num ons-icon {
  font-size: 11px;
  vertical-align: -0px;
}

.action-col {
  text-align: center;
  color: #fff;
  padding: 10px 0;
}
.action-col a{color: #fff; text-decoration: none;}
.action-col:active {
  opacity: 0.7;
}

.action-col ons-button {
  padding: 0;
  line-height: 1;
}

.action-icon {
  padding: 0 0 4px 0;
}

.action-icon ons-icon {
  font-size: 28px;
}

.action-label {
  font-size: 12px;
}

.prop-desc {
  font-size: 14px;
  opacity: 0.7;
}
#map, #mapr {height: 100%; top: -60px; position: relative;}
.prop-desc ons-icon {
  font-size: 14px;
  vertical-align: -0px;
  opacity: 0.5;
}
.boton-detalle{background: #df1031; border-bottom: 2px solid #0a3e47;}
.sucursal_detail .page__background{background: #fff;}
.sucursal_detail .page__content{background: transparent !important; background-color: #fff !important;}
.sucursal_detail ons-toolbar + .page__background + .page__content{top: 0;}
.sucursal_detail .navigation-bar{background: transparent;}
.sucursal_detail ons-button{background: #490161;color: #fff;position: relative;top: -15px;text-align: center;margin: 0 auto;display: block;}
.redes{
    width: 100%;
    height: 50px;
}
.redes a{float: left; text-align: center; margin: 10px;color: #0079f7;}
.redes i{font-size: 45px;}
/*Estilos para lista*/
.detalle li{font-size: 13px;}
.detalle li b{color: #004750;
    font-weight: bolder;
    font-size: 14px;}
.sucursal_detail.list--noborder {
  border-top: none;
  border-bottom: none;
}
.boton_menu{
  background: #EFEFEF;
  color: #fff;
  font-size: 20px;
  padding: 6px 0;
  text-align: center;
  font-weight: bold;
}
.sucursal_detail.list__header {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0 0 10px;
  font-size: 15px;
  font-weight: 500;
  background-color: #eee;
  color: #1f1f21;
  text-shadow: none;
  border-top: none;
  border-bottom: none;
  min-height: 24px;
  line-height: 24px;
}
.card-name {
  font-weight: 600;
  font-size: 20px;
  padding: 46px 0 8px 0;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  text-shadow: 3px 2px 2px rgb(0, 0, 0);
}
.timeline-li {
  line-height: 1;
  position: relative;
  padding: 15px;
  background-size: cover !important;
  border-bottom: 2px solid #fff !important;
  height: 130px;
  -webkit-box-shadow: inset 0px -48px 99px 0 rgb(0, 0, 0);
  -moz-box-shadow: inset 0px -48px 99px 0 rgba(0,0,0);
  box-shadow: inset 0px -48px 99px 0 rgb(0, 0, 0);
}
#cercademi{position: relative; top:-6px; list-style:none; list-style-type: none;-webkit-margin-before: 0;-webkit-margin-after: 0;-webkit-margin-start: 0;-webkit-margin-end: 0;-webkit-padding-start: 0;}
.timeline-image {
  width: 109px;
  height: 40px;
  background: #fff;
  border-radius: 4px;
  padding: 7px;
  box-shadow: 2px 2px 2px #000;
  margin-bottom: 10px;
}
.fa-angle-left, .fa-chevron-left{
      padding: 8px 10px 7px 8px;
    color: #fff;
    font-size: 24px !important;
    width: 19px !important;
    background: #f74e0fc7;
    text-shadow: 3px 2px 2px #000 !important;
    font-weight: bolder;
}
.timeline-date {
    font-size: 12px;
    margin-top: 3px;
    position: absolute;
    background: #ff7300;
    color: #fff;
    border-top: 3px solid #65057d;
    right: 15px;
    top: -3px;
    padding: 7px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.timeline-date.distancia{color: #fff;}
.timeline-from {position: absolute;
    bottom: 15px;
    display: block;
    width: 90%;
    text-overflow: ellipsis;}
.timeline-name {
  font-size: 10px;
    font-weight: bolder;
    width: 100%;
    word-wrap: normal;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
    color: #fff;
    margin: 0;
}
.timeline-id {
    font-size: 10px;
    font-style: italic;
    color: rgba(249, 230, 8, 0.85);
}
.timeline-message {
    font-size: 11px;
  position: absolute;
  right: 15px;
  color: #ffffff;
  top: 42px;
  line-height: 1.15;
  text-shadow: 1px 1px 0px #000;
  font-weight: bolder;
}
.footer{width: 100%; height: auto; text-align: center; background: #0696B8;}
.footer .botones i{font-size: 25px; padding: 0; margin: 0; position: relative;top: 10px;}
.footer .botones ons-button{background: transparent !important; color: #fff;width: 24%;font-size: 9px; border-right: 1px solid #fff}
.boton_ruleta img{padding: 5px 0 0 0;position: relative;top: 13px; }
.footer .copy{color: #fff; font-size: .7em; background: #621C46; padding: 1px 0}
.content {
  width: 90%;
  margin: 28px auto 0px auto;
  text-align: justify;
}
.giro{    font-size: 7px;
    text-transform: uppercase;
    color: rgb(2, 61, 66);
    margin: 0 auto;
    padding: 4px;
    width: 88%;}
.menu-pagina{background: #e21d36 !important;}
.lista-menu{background: #f8550b;}
.lista-menu ons-list-item{color: #fff;}
.onsen-sliding-menu__menu .page__content{background: #f8550b !important;}
.por_logo .page__background{background: #eaeaea !important;}
.content-2{width: 90%; margin: 20px auto 0 auto;}
.content-2 .cliente{width: 46%;height: auto;position: relative;background: #fff;text-align: center; padding: 24px 0 0;float: left;margin-bottom: 15px;border: 1px solid #d6d6d6;}
.cliente img{width: 100%; height: auto;}
.content-2 .cliente:nth-child(odd){margin-right: 15px;}
.enjoy-css {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 15px 20px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 16px;
  background: rgba(242,242,242,1);
}
.list-item-container {
  line-height: 1;
  padding: 15px 0px 15px 15px;
}
.thumbnail {
  width: 80px;
  height: auto;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}
.name {
  font-weight: bolder;
  color: #00313a;
  font-size: 15px;
  margin-bottom: 6px;
}
.location {
  font-size: 14px;
  opacity: 0.4;
  margin-bottom: 6px;
}
.desc {
  line-height: 1.2;
  font-size: 13px;
}
.description{font-size: 10px;
    color: #ff5400;}
.telephone{
  color: #04235f;font-size: x-small;
    margin-top: 7px;
    font-weight: 600;
}
.distancia_pornombre{
  text-align: center;
    padding: 5px;
    background: #e4e4e4;
    margin-right: 15px;
    font-size: 10px;
    color: #cc0000;
    font-weight: bolder;
}
ons-button a, ons-list-item a{
  color: #fff !important;
  text-decoration: none !important;
}
.corner-ribbon{
    background: #023d42;
    position: absolute;
    top: -12px;
    right: 0;
    left: 0;
    padding: 5px;
    border-top: 4px solid #e21d36;
    text-align: center;
    font-size: 11px;
    color: #f0f0f0;
}

.notas{background: #ffedda; padding: 10px;}
.form-row {
  margin: 4px;
}

.width-full {
  width: 100%;
}

.width-half {
  width: 48%;
}

.lucent {
  opacity: 0.4;
}

.note, label {
  margin: 12px 8px;
  font-size: 15px;
}

.vspc {
  margin-top: 20px;
}

.formarea {
  width: 90%;
  margin: 50px auto 0px auto;
}

input[type=text],
input[type=password] {
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}
input[type=submit],#quickstart-password-reset, #quickstart-sign-in, #quickstart-sign-up{
  transition: none;
  border: none;
  background-color: #F74E0F;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  line-height: 36px;
  padding: 4px 12px;
  width: 100%;
  text-align: center;
  display: block;
  vertical-align: middle;
}
.head_onsen{
  width: 100%;
  height: 50px;
  background: #F74E0F;
  position: relative;
}
.head_onsen .fa-home{
  color: white;
  font-size: 25px;
  padding: 12px 25px 0 15px;
}
.contenedor-formularios{
  color: #c1c1c1;
}
.head_onsen span{font-weight: bold; font-size: 17px; color: white; text-transform: uppercase;}
.cupon_page .page__background{background: #6b6b6b}
/*  GRID OF TWO  */
.cupon_page .span_2_of_2 {
  width: 100%;
}
.cupon_page .span_1_of_2 {
  width: 49.2%;
}
.cupon_page .span_1_of_2:last-of-type {
 margin-bottom: 60px;
}
.cupon_page .span_1_of_2 img{width: 100%;height: auto;}
/*  SECTIONS  */
.cupon_page .section {
  clear: both;
  padding: 0px;
  margin: 0px;
}
.cupon_page .texto_cupon i{font-size: small}

/*  COLUMN SETUP  */
.cupon_page .col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
  background: white;
  padding: 15px;
  border-radius: 5px;
}
.cupon_page .col:first-child { margin-left: 0; }

/*  GROUPING  */
.cupon_page .group:before,
.cupon_page .group:after { content:""; display:table; }
.cupon_page .group:after { clear:both;}
.cupon_page .group { zoom:1; /* For IE 6/7 */ }
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .cupon_page .col { 
    margin: 1% 0 1% 0%;
  }
}
@media only screen and (max-width: 480px) {
  .cupon_page .span_2_of_2, .cupon_page .span_1_of_2 { width: 100%; }
}
.ruleta_categoria{
      background: #50015e;
    height: 40px;
    width: 100%;
    padding: 6px 0;
    position: relative;
    top: -6px;
    text-align: center;
}
.ruleta_categoria a{
  color: #fff;
  text-decoration: none;
}
.icono_ruleta1{position: relative;top:6px;}
.icono_ruleta{
  width: 25px !important;
  height: auto !important;
  position: absolute;
  top: 100px;
  right: 20px;
}
.footer_ruleta{
  background: #fff;
  height: 80px;
  width: 80%;
  margin:0 auto;
  position: relative;
  -webkit-box-shadow: -1px 5px 13px 2px rgba(0, 0, 0, 0.72);
  box-shadow: -1px 5px 13px 2px rgba(0, 0, 0, 0.72);
  border-bottom: 5px solid #00b7b7;
  display: table;
  border-radius: 5px 5px 0 0;
}
.footer_ruleta p{
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  padding: 10px 0;
}
#puntos_usuario{
  background-color: #00b7b7;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 15px;
  padding: 7px;
}
#nombre{font-weight: 700;}
.boton_canjear{text-decoration: none; color: white; font-weight: bold;}
.tituloHome{
  height: 40px;
  width: 100%;
  padding: 30px 0;
}
.tituloHome p{
    padding: 0;
    font-size: 17px;
}
.tab-bar{
  background-color: #f8550b;
}
.navigation-bar{
  background: #f8550b;
}
.tab-bar__button, .navigation-bar__center, .navigation-bar__title{color: #fff;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 1s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.bloque_perfil{background-color: #ce4203;font-size: 13px;font-weight: bold;color: #fff;padding: 1px 5px 1px 20px;    border-bottom: 1px solid #ff9a6d;
    border-top: 1px solid #ff9a6d;}

/*Codigo 2019*/
.flecha19{
  background: url('../img/flecha19.png') center center no-repeat;
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  background-size: contain;
  margin: 0 auto;
  height: 27px;
  width: 45px;
}
.flecha19_r{
  background: url('../img/flecha19.png') center center no-repeat;
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  background-size: contain;
  margin: 0 auto;
  height: 27px;
  width: 45px;
  -moz-transform: scaleY(-1);
-o-transform: scaleY(-1);
-webkit-transform: scaleY(-1);
transform: scaleY(-1);
-ms-filter: "FlipV";
filter: FlipV;
}

.slider{
  height: 250px;
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#input-slide-autoplay{display: none}
/* -------------------------------------------------------- slide */
.slider > ul {
  height: 280px;
  z-index: 100;
  padding: 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}
.slider > ul > li img{
  height: 250px;
  width: 100%;
}
.slider > ul > li{
  height: 250px;
  position: absolute;
  left: 0;
  top: 0;

  opacity: 0;
  z-index: 1; 
    -webkit-transition: all 2000ms ease;
    -moz-transition: all 2000ms ease;
    -ms-transition: all 2000ms ease;
    -o-transition: all 2000ms ease;
    transition: all 2000ms ease;
}
.slider > #input-slide-0:checked ~ ul > li.slide-0,
.slider > #input-slide-1:checked ~ ul > li.slide-1,
.slider > #input-slide-2:checked ~ ul > li.slide-2,
.slider > #input-slide-3:checked ~ ul > li.slide-3{
  opacity: 1;
  z-index: 2;
}
/* -------------------------------------------------------- arrow */
.slider > .slider-arrow-prev,
.slider > .slider-arrow-next {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 300;
}
.slider > .slider-arrow-prev > label,
.slider > .slider-arrow-next > label {
  position: absolute;
  width: 5vw;
  height: 5vw;
  margin-top: -2.5vw;
  opacity: 0;
  background-size: 100% auto;
  background-position: center;

  z-index: -1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.slider > #input-slide-0:checked ~ .slider-arrow-prev > label.slide-3,
.slider > #input-slide-0:checked ~ .slider-arrow-next > label.slide-1, 
.slider > #input-slide-1:checked ~ .slider-arrow-prev > label.slide-0,
.slider > #input-slide-1:checked ~ .slider-arrow-next > label.slide-2, 
.slider > #input-slide-2:checked ~ .slider-arrow-prev > label.slide-1,
.slider > #input-slide-2:checked ~ .slider-arrow-next > label.slide-3, 
.slider > #input-slide-3:checked ~ .slider-arrow-prev > label.slide-2,
.slider > #input-slide-3:checked ~ .slider-arrow-next > label.slide-0 {
  z-index: 1;
}
.slider:hover > .slider-arrow-prev > label,
.slider:hover > .slider-arrow-next > label{
  opacity: 1;
}
.slider > .slider-arrow-prev > label {
  left: 5vw;
  background-image: url(http://panikaro.interiowo.pl/img/arrow-left.png);
}
.slider > .slider-arrow-next > label {
  right: 5vw;
  background-image: url(http://panikaro.interiowo.pl/img/arrow-right.png);
}
/* -------------------------------------------------------- dot */
.slider > .slider-dot {
  position: relative;
  margin-top: -4vw;
  text-align: center;
  z-index: 300;
  font-size: 0;
}
.slider > .slider-dot > label {
  position: relative;
  display: inline-block;
  margin: 1vw 0.5vw;
  width: 1vw;
  height: 1vw;
  border-radius: 50%;

  background-color: #FFF;
}
.slider > #input-slide-0:checked ~ .slider-dot > label.slide-0,
.slider > #input-slide-1:checked ~ .slider-dot > label.slide-1,
.slider > #input-slide-2:checked ~ .slider-dot > label.slide-2,
.slider > #input-slide-3:checked ~ .slider-dot > label.slide-3 {
  background-color: #FD7FE3;
}
.slider > .slider-dot > label:hover{
  background-color: #7E6DE0 !important;
}
/* -------------------------------------------------------- description */
.slider > .slide-description{
  position: absolute;
  width: 50%;
  top: calc(50% - 3vw);
  left: 25%;
  z-index: 200;
}
.slider > .slide-description > label{
  position: absolute;
  width: 100%;
  top: 0; 
  left: 0;
  cursor: default;

  z-index: 0;
  opacity: 0;
  visibility: hidden;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease; 
}
.slider > #input-slide-0:checked ~ .slide-description > .slide-0,
.slider > #input-slide-1:checked ~ .slide-description > .slide-1,
.slider > #input-slide-2:checked ~ .slide-description > .slide-2,
.slider > #input-slide-3:checked ~ .slide-description > .slide-3{
  z-index: 2;
  opacity: 1;
  visibility: visible;  
}
.slider > .slide-description > label > .text-slide{
  margin: 0 auto;
  line-height: 6vw;
  text-align: center;
}
.slider > .slide-description > .slide-0{
  font-family: 'Raleway', sans-serif; 
}
.slider > .slide-description > .slide-1{
  font-family: 'Poiret One', cursive;
}
.slider > .slide-description > .slide-2{
  font-family: 'Monoton', cursive;  
}
.slider > .slide-description > .slide-3{
  font-family: 'Audiowide', cursive;  
}
/* -------------------------------------------------------- autoplay */
/*
  if you don't want to autoplay 
  just check input "slide-0" 
  instead of input "play" in html code
  and remove the code below
*/
/* -------------------------------------------------------- autoplay slide */
@-webkit-keyframes slide{
  0%, 100% { opacity: 0; }
  6%, 25% { opacity: 1; z-index: 2; }
  30%, 50% { opacity: 0; z-index: 2; }
}
@-moz-keyframes slide{
  0%, 100% { opacity: 0; }
  6%, 24% { opacity: 1; z-index: 2; }
  30%, 50% { opacity: 0; z-index: 2; }
}
@-ms-keyframes slide{
  0%, 100% { opacity: 0; }
  6%, 25% { opacity: 1; z-index: 2; }
  30%, 50% { opacity: 0; z-index: 2; }
}
@-o-keyframes slide{
  0%, 100% { opacity: 0; }
  6%, 25% { opacity: 1; z-index: 2; }
  30%, 50% { opacity: 0; z-index: 2; }
}
@keyframes slide{
  0%, 100% { opacity: 0; }
  6%, 25% { opacity: 1; z-index: 2; }
  30%, 50% { opacity: 0; z-index: 2; }
}
.slider > #input-slide-autoplay:checked ~ ul > li.slide-0{
  -webkit-animation: slide 32000ms infinite -2000ms linear;
  -moz-animation: slide 32000ms infinite -2000ms linear;
  -ms-animation: slide 32000ms infinite -2000ms linear;
  -o-animation: slide 32000ms infinite -2000ms linear;
  animation: slide 32000ms infinite -2000ms linear;
}
.slider > #input-slide-autoplay:checked ~ ul > li.slide-1{
  -webkit-animation: slide 32000ms infinite 6000ms linear;
  -moz-animation: slide 32000ms infinite 6000ms linear;
  -ms-animation: slide 32000ms infinite 6000ms linear;
  -o-animation: slide 32000ms infinite 6000ms linear;
  animation: slide 32000ms infinite 6000ms linear;  
}
.slider > #input-slide-autoplay:checked ~ ul > li.slide-2{
  -webkit-animation: slide 32000ms infinite 14000ms linear;
  -moz-animation: slide 32000ms infinite 14000ms linear;
  -ms-animation: slide 32000ms infinite 14000ms linear;
  -o-animation: slide 32000ms infinite 14000ms linear;
  animation: slide 32000ms infinite 14000ms linear; 
}
.slider > #input-slide-autoplay:checked ~ ul > li.slide-3{
  -webkit-animation: slide 32000ms infinite 22000ms linear;
  -moz-animation: slide 32000ms infinite 22000ms linear;
  -ms-animation: slide 32000ms infinite 22000ms linear;
  -o-animation: slide 32000ms infinite 22000ms linear;
  animation: slide 32000ms infinite 22000ms linear; 
}
.slider > #input-slide-autoplay:checked ~ ul > li{
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none; 
}
/* -------------------------------------------------------- autoplay arrow */
@-webkit-keyframes arrow {
  0%, 24% { z-index: 1; }
  25%, 100% { z-index: -1; }
}
@-moz-keyframes arrow {
  0%, 24% { z-index: 1; }
  25%, 100% { z-index: -1; }
}
@-ms-keyframes arrow {
  0%, 24% { z-index: 1; }
  25%, 100% { z-index: -1; }
}
@-o-keyframes arrow {
  0%, 24% { z-index: 1; }
  25%, 100% { z-index: -1; }
}
@keyframes arrow {
  0%, 24% { z-index: 1; }
  25%, 100% { z-index: -1; }
}
.slider > #input-slide-autoplay:checked ~ .slider-arrow-prev > label.slide-3,
.slider > #input-slide-autoplay:checked ~ .slider-arrow-next > label.slide-1{
  -webkit-animation: arrow 32000ms infinite -2000ms;
  -moz-animation: arrow 32000ms infinite -2000ms;
  -ms-animation: arrow 32000ms infinite -2000ms;
  -o-animation: arrow 32000ms infinite -2000ms;
  animation: arrow 32000ms infinite -2000ms;  
}
.slider > #input-slide-autoplay:checked ~ .slider-arrow-prev > label.slide-0,
.slider > #input-slide-autoplay:checked ~ .slider-arrow-next > label.slide-2{
  -webkit-animation: arrow 32000ms infinite 6000ms;
  -moz-animation: arrow 32000ms infinite 6000ms;
  -ms-animation: arrow 32000ms infinite 6000ms;
  -o-animation: arrow 32000ms infinite 6000ms;
  animation: arrow 32000ms infinite 6000ms; 
}
.slider > #input-slide-autoplay:checked ~ .slider-arrow-prev > label.slide-1,
.slider > #input-slide-autoplay:checked ~ .slider-arrow-next > label.slide-3{
  -webkit-animation: arrow 32000ms infinite 14000ms;
  -moz-animation: arrow 32000ms infinite 14000ms;
  -ms-animation: arrow 32000ms infinite 14000ms;
  -o-animation: arrow 32000ms infinite 14000ms;
  animation: arrow 32000ms infinite 14000ms;  
}
.slider > #input-slide-autoplay:checked ~ .slider-arrow-prev > label.slide-2,
.slider > #input-slide-autoplay:checked ~ .slider-arrow-next > label.slide-0{
  -webkit-animation: arrow 32000ms infinite 22000ms;
  -moz-animation: arrow 32000ms infinite 22000ms;
  -ms-animation: arrow 32000ms infinite 22000ms;
  -o-animation: arrow 32000ms infinite 22000ms;
  animation: arrow 32000ms infinite 22000ms;  
}
/* -------------------------------------------------------- autoplay dot */
@-webkit-keyframes dot {
  0%, 24% { background-color: #FD7FE3; }
  25%, 100% { background: #FFF; }
}
@-moz-keyframes dot {
  0%, 24% { background-color: #FD7FE3; }
  25%, 100% { background: #FFF; }
}
@-ms-keyframes dot {
  0%, 24% { background-color: #FD7FE3; }
  25%, 100% { background: #FFF; }
}
@-o-keyframes dot {
  0%, 24% { background-color: #FD7FE3; }
  25%, 100% { background: #FFF; }
}
@keyframes dot {
  0%, 24% { background-color: #FD7FE3; }
  25%, 100% { background: #FFF; }
}
.slider > #input-slide-autoplay:checked ~ .slider-dot > label.slide-0{
  -webkit-animation: dot 32000ms infinite -2000ms;
  -moz-animation: dot 32000ms infinite -2000ms;
  -ms-animation: dot 32000ms infinite -2000ms;
  -o-animation: dot 32000ms infinite -2000ms;
  animation: dot 32000ms infinite -2000ms;  
}
.slider > #input-slide-autoplay:checked ~ .slider-dot > label.slide-1{
  -webkit-animation: dot 32000ms infinite 6000ms;
  -moz-animation: dot 32000ms infinite 6000ms;
  -ms-animation: dot 32000ms infinite 6000ms;
  -o-animation: dot 32000ms infinite 6000ms;
  animation: dot 32000ms infinite 6000ms; 
}
.slider > #input-slide-autoplay:checked ~ .slider-dot > label.slide-2{
  -webkit-animation: dot 32000ms infinite 14000ms;
  -moz-animation: dot 32000ms infinite 14000ms;
  -ms-animation: dot 32000ms infinite 14000ms;
  -o-animation: dot 32000ms infinite 14000ms;
  animation: dot 32000ms infinite 14000ms;  
}
.slider > #input-slide-autoplay:checked ~ .slider-dot > label.slide-3{
  -webkit-animation: dot 32000ms infinite 22000ms;
  -moz-animation: dot 32000ms infinite 22000ms;
  -ms-animation: dot 32000ms infinite 22000ms;
  -o-animation: dot 32000ms infinite 22000ms;
  animation: dot 32000ms infinite 22000ms;  
}
/* -------------------------------------------------------- autoplay description */
@-webkit-keyframes description{
  0%, 5% { opacity: 0; z-index: 2; visibility: visible; }
  6%, 24% { opacity: 1; z-index: 2; visibility: visible; }
  25%, 100% { opacity: 0; z-index: 0; visibility: hidden; }
}
@-moz-keyframes description{
  0%, 5% { opacity: 0; z-index: 2; visibility: visible; }
  6%, 24% { opacity: 1; z-index: 2; visibility: visible; }
  25%, 100% { opacity: 0; z-index: 0; visibility: hidden; }
}
@-ms-keyframes description{
  0%, 5% { opacity: 0; z-index: 2; visibility: visible; }
  6%, 24% { opacity: 1; z-index: 2; visibility: visible; }
  25%, 100% { opacity: 0; z-index: 0; visibility: hidden; }
}
@-o-keyframes description{
  0%, 5% { opacity: 0; z-index: 2; visibility: visible; }
  6%, 24% { opacity: 1; z-index: 2; visibility: visible; }
  25%, 100% { opacity: 0; z-index: 0; visibility: hidden; }
}
@keyframes description{
  0%, 5% { opacity: 0; z-index: 2; visibility: visible; }
  6%, 24% { opacity: 1; z-index: 2; visibility: visible; }
  25%, 100% { opacity: 0; z-index: 0; visibility: hidden; }
}
.slider > #input-slide-autoplay:checked ~ .slide-description > .slide-0{
  -webkit-animation: description 32000ms infinite -2000ms ease;
  -moz-animation: description 32000ms infinite -2000ms ease;
  -ms-animation: description 32000ms infinite -2000ms ease;
  -o-animation: description 32000ms infinite -2000ms ease;
  animation: description 32000ms infinite -2000ms ease;
}
.slider > #input-slide-autoplay:checked ~ .slide-description > .slide-1{
  -webkit-animation: description 32000ms infinite 6000ms ease;
  -moz-animation: description 32000ms infinite 6000ms ease;
  -ms-animation: description 32000ms infinite 6000ms ease;
  -o-animation: description 32000ms infinite 6000ms ease;
  animation: description 32000ms infinite 6000ms ease;
}
.slider > #input-slide-autoplay:checked ~ .slide-description > .slide-2{
  -webkit-animation: description 32000ms infinite 14000ms ease;
  -moz-animation: description 32000ms infinite 14000ms ease;
  -ms-animation: description 32000ms infinite 14000ms ease;
  -o-animation: description 32000ms infinite 14000ms ease;
  animation: description 32000ms infinite 14000ms ease;
}
.slider > #input-slide-autoplay:checked ~ .slide-description > .slide-3{
  -webkit-animation: description 32000ms infinite 22000ms ease;
  -moz-animation: description 32000ms infinite 22000ms ease;
  -ms-animation: description 32000ms infinite 22000ms ease;
  -o-animation: description 32000ms infinite 22000ms ease;
  animation: description 32000ms infinite 22000ms ease;
}
.slider > #input-slide-autoplay:checked ~ .slide-description > label{
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;   
}
